[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bandit = "==1.7.0"
docutils = "==0.17.1"
flake8 = "==4.0.1"
flake8-import-order = "==0.18.1"
mypy = "==0.812"
pydocstyle = "==6.1.1"
pylint = "==2.11.1"
pytest = "==6.2.5"
pytest-cov = "==3.0.0"
selinux = "==0.2.1"
setuptools = "*"
wheel = "*"
twine = ">=3.4.2"

[packages]
opera = {editable = true, extras = ["openstack"], path = "."}
