[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
selinux = "*"
setuptools = "*"
wheel = "*"
twine = ">=3.0.0"
sphinx = "*"
sphinx-rtd-theme = "*"

[packages]
opera = {editable = true,extras = ["openstack"],path = "."}
