version: "2.1"

commands:
  common_setup:
    description: Prepare the repository for work
    steps:
      - checkout
      - run: sudo pip install pipenv
      - run: make init

  run_tests:
    description: Run test suite
    steps:
      - common_setup
      - run: make unit_test
      - run: make integration_test

  deploy_to_test_pypi:
    description: Publish opera package to Python Package Index (PyPI) for testing
    steps:
      - common_setup
      - run: env
      - run: make build
      - run: make test_release

  deploy_to_production_pypi:
    description: Publish opera package to Python Package Index (PyPI)
    steps:
      - common_setup
      - run: make build
      - run: make release

executors:
  python36:
    docker:
      - image: circleci/python:3.6.9
    environment:
      PIPENV_VENV_IN_PROJECT: true
  python37:
    docker:
      - image: circleci/python:3.7.4
    environment:
      PIPENV_VENV_IN_PROJECT: true
  python38:
    docker:
      - image: circleci/python:3.8.2
    environment:
      PIPENV_VENV_IN_PROJECT: true

jobs:
  test36:
    executor: python36
    steps:
      - run_tests
  test37:
    executor: python37
    steps:
      - run_tests
  test38:
    executor: python38
    steps:
      - run_tests
  pypi_test_deploy:
    executor: python37
    steps:
      - deploy_to_test_pypi
  pypi_production_deploy:
    executor: python37
    steps:
      - deploy_to_production_pypi

workflows:
  version: 2
  test:
    jobs:
      - test36
      - test37
      - test38
      - pypi_test_deploy:
          requires:
            - test36
            - test37
            - test38
          context: opera-test-pypi
          filters:
            branches:
              only: master

  deploy:
    jobs:
      - pypi_production_deploy:
          context: opera-production-pypi
          filters:
            tags:
              only: /[0-9]+\.[0-9]+\.[0-9]+/
            branches:
              ignore: /.*/
